---
export interface Props {
    title: string;
    id: string;
    cl: string;
    lineStyle: string;
}

const { title, id, cl, lineStyle } = Astro.props;
---

<section class={cl} id={id}>
    <div class={id === "gallery" ? "" : "container"}>
        <h2 class="text-center">{title}</h2>
        <hr class={lineStyle} />
        <div class="row">
            <slot />
        </div>
    </div>
</section>

<style>
    section {
        padding: 100px 0;
    }

    section h2 {
        font-size: 3em;
        margin: 0;
    }

    section.light {
        color: white;
        background: #71bcce;
    }

    section.dark {
        color: white;
        background: #2c3e50;
    }

    section.standardcontent {
        color: white;
        background: #71bcce;
        padding-top: 200px;
    }

    @media (max-width: 767px) {
        section {
            padding: 75px 0;
        }
        section.first {
            padding-top: 75px;
        }
    }

    hr.line-light,
    hr.line-primary {
        max-width: 250px;
        margin: 25px auto 30px;
        padding: 0;
        text-align: center;
        border: none;
        border-top: solid 5px;
        color: white;
        opacity: 1;
    }

    hr.line-light {
        border-color: white;
    }

    hr.line-light:after {
        color: white;
    }

    hr.line-primary {
        border-color: #2c3e50;
    }

    hr.line-primary:after {
        color: #2c3e50;
        background-color: white;
    }
</style>
