---
export interface Props {
	title: string;
	id: string;
    cl: string;
	lineStyle: string;
}

const { title, id, cl, lineStyle } = Astro.props;
---

<section class={cl} id={id}>
    <div class={id === 'gallery' ? '' : 'container'}>
        <h2 class="text-center">{title}</h2>
        <hr class={lineStyle}>
        <div class="row">
			<slot />
        </div>
    </div>
</section>

<style>
    section {
        padding: 100px 0;
    }

    section h2 {
        font-size: 3em;
        margin: 0;
    }

    section.light {
        color: white;
        background: #71BCCE;
    }

    section.dark {
        color: white;
        background: #2C3E50;
    }

    section.standardcontent {
        color: white;
        background: #71BCCE;
        padding-top: 200px;
    }

    @media (max-width: 767px) {
        section {
            padding: 75px 0;
        }
        section.first {
            padding-top: 75px;
        } 
    }
</style>
