---
export interface Props {
	title: string;
	id: string;
    cl: string;
	lineStyle: string;
}

const { title, id, cl, lineStyle } = Astro.props;
---

<section class={cl} id={id}>
    <div class="container">
        <h2 class="text-center">{title}</h2>
        <hr class={lineStyle}>
        <div class="row">
			<slot />
        </div>
    </div>
</section>
