---
import "@fortawesome/fontawesome-free/css/fontawesome.css";
import "@fortawesome/fontawesome-free/css/solid.css";

export interface Props {
    title: string;
    id: string;
}

const { title, id } = Astro.props;
---

<div class="social-modal modal fade" id={`socialModal${id}`} tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2>{title}</h2>
                            <hr class="line-primary">
                            <img class="img-fluid img-centered"
                                 src={`/img/social/${id}.png`}
                                 alt={`${title} logo`}>
                            <slot />
                            <button class="btn btn-success" type="button" data-dismiss="modal">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
