---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import SocialCard from "../components/SocialCard.astro";
import SocialModal from "../layouts/SocialModal.astro";
import "../styles/bootstrap.css";
import "../styles/lightbox.css";
import "../styles/gergelyszabo.css";

const socialObjects = [
	{
		id: "mastodon",
		href: "#socialModal7",
		name: "Mastodon",
	},
	{
		id: "twitter",
		href: "#socialModal2",
		name: "Twitter",
	},
	{
		id: "instagram",
		href: "#socialModal5",
		name: "Instagram",
	},
	{
		id: "reddit",
		href: "#socialModal6",
		name: "Reddit",
	},
	{
		id: "linkedin",
		href: "#socialModal4",
		name: "LinkedIn",
	},
	{
		id: "facebook",
		href: "#socialModal1",
		name: "Facebook",
	}
];
---

<Layout
	title="Gergely Szabo - Landing Page"
	metaDescription="Gergely Szabo's Personal Website's Landing Page!"
>
	<Fragment slot="custom-js">
		<script
			is:inline
			type="text/javascript"
			src="/js/vendor/profile.js"
			async
			defer
		></script>
		<script src="https://hcaptcha.com/1/api.js" async defer></script>
		<script is:inline src="/js/vendor/lightbox.js"></script>
		<script is:inline src="/js/vendor/lazyload.js"></script>

		<!-- Contact Form JavaScript -->
		<script is:inline src="/js/jqBootstrapValidation.js"></script>
		<script is:inline src="/js/contact_me.js"></script>
	</Fragment>
	<main>
		<!--Lazyload - https://github.com/tuupola/jquery_lazyload/tree/2.x-->
		<script>
			window.addEventListener("load", function (event) {
				lazyload();
			});
		</script>

		<!--Header-->
		<header class="masthead" id="profile">
			<div class="container">
				<a href="#about">
					<img
						class="profile-img animate"
						src="/img/profile.png"
						alt="Gergely Szabo Profile Picture"
					/>
				</a>
				<div class="intro-text">
					<span class="name">Gergely Szabo</span>
					<hr class="line-light" />
					<span class="skills">CS:GO Trader - Developer</span>
					<br />
					<span class="skills"
						>Entrepreneur - Husband - Lifelong Learner</span
					>
					<br /><br />
				</div>
			</div>
			<div class="intro-text">
				<span class="photo-credit" id="photo-credit"
					>Gergely Szabo, July of 2017
					<br />
					Weißsee, High Tauern, Austria</span
				>
			</div>
		</header>
		<Section title="About" id="about" cl="light" lineStyle="line-light">
			<div class="col-lg-4 ml-auto">
				<p>
					Hi there! My name is Gergely Szabo also known as "GeRy" by
					many. I am a professional CS:GO trader.
				</p>
				<p>
					I am the owner and lead developer of the <a
						class="link-on-light-background"
						href="https://csgotrader.app/"
						target="_blank">CSGO Trader browser extension</a
					>. I also used to make <a
						class="link-on-light-background"
						href="https://www.youtube.com/channel/UCkDNavvHkCFHFCZ2bmG4zzw"
						target="_blank">YouTube videos about CS:GO trading.</a
					>
				</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p>
					This website was created because of my fascination with
					technology and so you can find out more about me in an
					interactive way. All the photos are shot by either me, my
					family or friends, enjoy!
				</p>
			</div>
		</Section>
		<Section
			title="Social Media"
			id="social"
			cl=""
			lineStyle="line-primary"
		>
			{
				socialObjects.map((social) => {
					return (
						<SocialCard
							id={social.id}
							name={social.name}
						/>
					);
				})
			}
		</Section>
		<SocialModal
			title={socialObjects[5].name}
			id={socialObjects[5].id}
		>
			<p>
				Facebook. Everyone is on it, most use it, some are addicted to it.
				<a href="https://www.facebook.com/gergelyszabo1994">I am</a> not very active, but
				occasionally you can find me posting travel pics. I am linking to it for verification too.
				I am being impersonated on FB and they suck at dealing with impersonation. This way you know
				not to trust anyone claiming to be me that is not this account. I don't have any other FB accounts.
			</p>
			<p>
				I only accept friend request from people I actually know, so there is no point in adding
				me if you don't know me! Messages from strangers also remain unseen.
				If you must contact me please use other methods.
			</p>
		</SocialModal>
		

		<script is:inline src="/js/gergelyszabo.js"></script>
		<!-- changing header background images -->
		<script is:inline src="/js/background.js"></script>
	</main>
</Layout>
