---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/bootstrap.css';
import '../styles/lightbox.css';
import '../styles/gergelyszabo.css';
---

<Layout title="Gergely Szabo - Landing Page" metaDescription="Gergely Szabo's Personal Website's Landing Page!">
	<Fragment slot="custom-js">
		<script is:inline type="text/javascript" src="/js/vendor/profile.js" async defer></script>
		<script src="https://hcaptcha.com/1/api.js" async defer></script>
		<script is:inline src='/js/vendor/lightbox.js'></script>
		<script is:inline src="/js/vendor/lazyload.js"></script>

		<!-- Contact Form JavaScript -->
		<script is:inline src="/js/jqBootstrapValidation.js"></script>
		<script is:inline src="/js/contact_me.js"></script>
	</>
	<main>
		<!--Lazyload - https://github.com/tuupola/jquery_lazyload/tree/2.x-->
		<script>
			window.addEventListener("load", function(event) {
				lazyload();
			});
		</script>

		<!--Header-->
		<header class="masthead" id="profile">
			<div class="container">
				<a href="#about">
				<img class="profile-img animate" src="/img/profile.png" alt="Gergely Szabo Profile Picture">
				</a>
				<div class="intro-text">
					<span class="name">Gergely Szabo</span>
					<hr class="line-light">
					<span class="skills">CS:GO Trader - Developer</span>
					<br>
					<span class="skills">Entrepreneur - Husband - Lifelong Learner</span>
					<br><br>
				</div>
			</div>
			<div class="intro-text">
			<span class="photo-credit" id="photo-credit">Gergely Szabo, July of 2017
				<br>
				Weißsee, High Tauern, Austria</span>
			</div>
		</header>
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Chat"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
		<script is:inline src="/js/gergelyszabo.js"></script>
		<!-- changing header background images -->
		<script is:inline src="/js/background.js"></script>
	</main>
</Layout>
