---
export interface Props {
    href: string;
    title: string;
}

const { href, title } = Astro.props;
---

<a href={href}>
    <button type="button" class="btn btn-primary m-1">
        {title}
    </button>
</a>
