---
export interface Props {
    href: string;
    text: string;
    cl?: string;
    lightbox?: string;
}

const { href, text, cl = "", lightbox} = Astro.props;
---

<a class={`${cl}`} href={href} data-lightbox={lightbox}>
    {text}
</a>

<style>
    a,
    a:active,
    a:hover,
    a:focus {
        color: #2c3e50;
    }

    .on-page-nav-line {
        display: block;
        margin-bottom: 15px;
    }
</style>
