---
export interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
---

<a class="link-on-light-background" href={href}>
    {text}
</a>

<style>
    .link-on-light-background,
    .link-on-light-background:active,
    .link-on-light-background:hover,
    .link-on-light-background:focus {
        color: #2c3e50;
        text-decoration: none;
    }
</style>
