---
export interface Props {
    href: string;
    text: string;
    cl?: string;
}

const { href, text, cl = "" } = Astro.props;
---

<a class={`link-on-light-background ${cl}`} href={href}>
    {text}
</a>

<style>
    .link-on-light-background,
    .link-on-light-background:active,
    .link-on-light-background:hover,
    .link-on-light-background:focus {
        color: #2c3e50;
    }

    .on-page-nav-line {
        display: block;
        margin-bottom: 15px;
    }
</style>
