---
export interface Props {
    id: string;
    name: string;
}

const { id, name } = Astro.props;
---

<div class="col-sm-4 social-item">
    <a class="social-link" href={`#socialModal${id}`} data-toggle="modal">
        <div class="caption">
            <div class="caption-content"></div>
        </div>
        <img class="img-fluid" src={`/img/social/${id}.png`} alt={`${name} logo`} />
    </a>
</div>
