---
export interface Props {
    id: string;
    name: string;
}

const { id, name } = Astro.props;
---

<div class="col-sm-4 social-item">
    <a class="social-link" href={`#socialModal${id}`} data-toggle="modal">
        <div class="caption">
            <div class="caption-content"></div>
        </div>
        <img class="img-fluid" src={`/img/social/${id}.png`} alt={`${name} logo`} />
    </a>
</div>

<style>
    #social .social-item {
        right: 0;
        margin: 0 0 15px;
    }

    #social .social-item .social-link {
        position: relative;
        display: block;
        max-width: 400px;
        margin: 0 auto;
        cursor: pointer;
    }

    #social .social-item .social-link .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: rgba(255, 255, 255, 0.9);
    }

    #social .social-item .social-link .caption:hover {
        opacity: 0.3;
    
    }

    #social .social-item .social-link .caption .caption-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white;
    
    }

    #social .social-item .social-link .caption .caption-content i {
        margin-top: -12px;
    
    }

    #social .social-item .social-link .caption .caption-content h3,
    #social .social-item .social-link .caption .caption-content h4 {
        margin: 0;
    }
</style>
